@font-face{
    font-family: siyuan;
    src: url(font/siyuan/NotoSansCJK-Black-7.otf),
    	url(font/siyuan/NotoSansCJK-Bold-6.otf),
    	url(font/siyuan/NotoSansCJK-DemiLight-4.otf),
    	url(font/siyuan/NotoSansCJK-Light-3.otf),
    	url(font/siyuan/NotoSansCJK-Medium-5.otf),
    	url(font/siyuan/NotoSansCJK-Regular-1.otf),
    	url(font/siyuan/NotoSansCJK-Thin-2.otf);
    font-weight:bold;
}
@font-face{
    font-family: haipai;
    src: url(font/siyuan/HaiPaiQiangDiaoGunShiChaoHeiJian-2.ttf);
    font-weight:bold;
}
@font-face{
    font-family: haipai;
    src: url(font/siyuan/HaiPaiQiangDiaoGunShiChaoHeiJian-2.ttf);
    font-weight:bold;
}
@font-face{
    font-family: benmo;
    src: url(font/siyuan/BenMoZhuHei-2.ttf);
    font-weight:bold;
}

*{padding: 0;margin: 0;}
ul,li{
    list-style: none;
}
	html,body{height:100%;}
*{outline:none;}
a{text-decoration: none;}
body{margin:0px; padding:0px; background:#fff;}
.flex-left{display: flex;}
.flex-be-wrap{display: flex; flex-wrap: wrap;justify-content: space-between;}
.f38{font-size: 38px;}
.f22{font-size: 22px;}
.f_red{color: #bd1010;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pt15{padding-top: 15px;}
.pb15{padding-bottom: 15px;}
.pt220{padding-top: 180px;}
.pt150{padding-top: 150px;}
.indent2em{text-indent: 2em;}


.index{ background: #fff;}
.wrap{width: 1280px; height: 1024px;margin: 0 auto; position: relative; background: url(../img/index_bg.jpg) no-repeat center top #fff;background-size: 100% 100%; color: #fff; font-family: benmo;}
.index_name{font-size:124px; text-align: center; padding-top: 210px;}
.index_text{padding: 120px 120px 0 100px; font-size: 25px; line-height: 42px;font-family: siyuan; }
.goin{width: 300px; height: 130px; position: absolute; bottom: 54px; left:50%; margin-left:-150px;text-align: center; animation: goin 1s linear 0s infinite;}
.goin a{color: #fff; font-size: 50px;}
@keyframes goin {
    0%{bottom: 54px; opacity: 1;}
    50%{bottom: 58px;opacity: 0.4;}
    100%{bottom: 48px;opacity: 0.8;}
}

.one{background: url(../img/one_bg.jpg) no-repeat center top #fff;background-size: 100% 100%;font-family: benmo;}
.one_name{font-size:84px; padding: 60px 0 0 76px;}
.one_content{padding: 50px 50px 80px 80px;}
.one_content ul li{position: relative; }
.one_content ul li a{position: absolute; text-align: center; right: 2px; display: block; width: 400px; height: 220px; line-height: 220px; color: #fff; font-size: 34px;}
.one_content ul li:nth-child(1) a{background: url(../img/fun_1.png) no-repeat center center; top: 20px;}
.one_content ul li:nth-child(2) a{background: url(../img/fun_3.png) no-repeat center center; top: 250px}
.one_content ul li:nth-child(3) a{background: url(../img/fun_2.png) no-repeat center center; top: 480px;}
.one_content ul li .one_text{display: none; font-family: siyuan;position: absolute; left: 42px; width: 730px; height: 410px; line-height: 35px; font-size: 20px;}
.one_content ul li.on a{color: #e08e51;}
.one_content ul li.on .one_text{display: block;}
.one_content ul li.on:nth-child(1) a{background: url(../img/fun_h_1.png) no-repeat center center;}
.one_content ul li.on:nth-child(2) a{background: url(../img/fun_h_3.png) no-repeat center center;}
.one_content ul li.on:nth-child(3) a{background: url(../img/fun_h_2.png) no-repeat center center;}
.video{width: 726px; height: 406px; border:2px solid #fff;background: #e08e51;}

